<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head  th:fragment="head">
        <title>Anasovi</title>
        <meta charset="UTF-8"/>

        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/carrito.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link type="text/css" th:href="@{/css/style.css}">
    </head>
    <body style="background-color: #FFEFEF;">

        <div th:fragment="header">
            <div class="col-lg-12">
                <div style="background-color: #993955; width: 100%;" class="d-flex justify-content-center py-3">
                    <ul class="nav nav-pills" style="margin: 0px 40px;">
                        <li class="nav-item"><a th:href="@{/templates/index}" class="nav-link fw-bold" style="color: #0F0326;" aria-current="page">[[#{layout.principal}]]</a></li>
                        <li class="nav-item"><a th:href="@{/consulta/paginaConsulta}" class="nav-link  fw-bold" style="color: #0F0326;">[[#{layout.nosotros}]]</a></li>
                        <li class="nav-item"><a th:href="@{/noticia/paginaNoticia}" class="nav-link  fw-bold" style="color: #0F0326;">[[#{layout.noticias}]]</a></li>
                        <li class="nav-item"><a th:href="@{/evento/paginaEvento}" class="nav-link  fw-bold" style="color: #0F0326;">[[#{layout.eventos}]]</a></li>
                        <li class="nav-item"><a th:href="@{/producto/paginaProducto}" class="nav-link  fw-bold" style="color: #0F0326;">[[#{layout.producto}]]</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a th:href="@{/categoria/paginaCategoria}" class="nav-link  fw-bold" style="color: #0F0326;">[[#{layout.categoria}]]</a></li>
                        <li class="nav-item"><a th:href="@{/donacion/paginaDonacion}" class="nav-link  fw-bold" style="color: #0F0326;">[[#{layout.donaciones}]]</a></li>
                        <li class="nav-item"><a th:href="@{/informate/paginaInformate}" class="nav-link  fw-bold" style="color: #0F0326;">[[#{layout.informate}]]</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a th:href="@{/usuario/paginaUsuario}" class="nav-link  fw-bold" style="color: #0F0326;">[[#{layout.Usuario}]]</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #0F0326;" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">[[#{plantilla.idioma}]]</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a style="color: #0F0326;" class="dropdown-item"  th:href="@{/(lang=es)}">ES</a></li>
                                <li><a style="color: #0F0326;" class="dropdown-item" th:href="@{/(lang=en)}">EN</a></li>
                            </ul>
                        </li>
                        <ul sec:authorize='!isAuthenticated()'>
                            <li>
                                <a th:href="@{/login}" class="nav-link" style="color: #0F0326;">
                                    <i class="fas fa-user-alt"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav" sec:authorize='isAuthenticated()'>
                            <li class="text-white my-auto" >


                            </li>
                            <li>
                                <form method="post"
                                      th:action='@{/logout}'>
                                    <button class="btn btn-dark">
                                        <span sec:authentication='name'></span><i> </i><i class="fas fa-sign-out-alt"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </ul>

                </div>
            </div>

        </div>
        <footer th:fragment="footer">

            <div style="background-color: white;">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5  ">
                    <div class="col mb-3">
                        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                            <svg class="bi me-2" width="50" height="32">
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                        </a>
                        <p class="text-body-secondary">© ANASOVI 2023</p>
                    </div>

                    <div class="col mb-3">

                    </div>

                    <div class="col mb-3 ms-auto"> <!-- Añade la clase ms-auto aquí -->
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a th:href="@{/templates/index}" class="nav-link p-0 text-body-secondary">Principal</a></li>
                            <li class="nav-item mb-2"><a th:href="@{/evento/paginaEvento}" class="nav-link p-0 text-body-secondary">Eventos</a></li>
                            <li class="nav-item mb-2"><a th:href="@{/noticia/paginaNoticia}" class="nav-link p-0 text-body-secondary">Noticias</a></li>
                            <li class="nav-item mb-2"><a th:href="@{/producto/paginaProducto}" class="nav-link p-0 text-body-secondary">Producto</a></li>
                            <li class="nav-item mb-2"><a th:href="@{/informate/paginaInformate}" class="nav-link p-0 text-body-secondary">Informate</a></li>
                            <li class="nav-item mb-2"><a th:href="@{/donacion/paginaDonacion}" class="nav-link p-0 text-body-secondary">Donaciones</a></li>
                            <li class="nav-item mb-2"><a th:href="@{/consulta/paginaConsulta}" class="nav-link p-0 text-body-secondary">Nosotros</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>