<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Anasovi</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body style="background-color: #FFEFEF;">
        <section th:fragment="main" style="display: flex; background-color: #FFEFEF">
            <aside style="width: 70%; margin-left: 70px;">
                <!-- Contenido del aside aquí -->
                <h3 style="margin: 50px 0" class="text-center"> [[#{nosotros.contacteTitulo}]]</h3>

                <div style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 10px 10px 50px 0;">
                    <h4>[[#{nosotros.representanteLegalTitulo}]]</h4>
                    <p>Juan Pedro Sanchez<br>
                            +506 8423 1329<br>
                                juanpedro123@gmail.com
                                </p>
                                <h4>[[#{nosotros.contactosAdicioTitulo}]]</h4>
                                <p>Maria Antonieta Vidal<br>
                                        +506 8412 4529<br>
                                            mariaantonieta123@gmail.com
                                            </p>
                                            <h4>[[#{nosotros.ubicanosTitulo}]]</h4>
                                            <p>[[#{nosotros.ubicanosDesc}]]</p>
                                            <iframe
                                                width="600"
                                                height="450"
                                                style="border:0"
                                                loading="lazy"
                                                allowfullscreen
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.4631055429048!2d-84.0541675304589!3d9.946234420333466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f9f5ea40e455%3A0x76ad1ced1ae8fbae!2sLey%20%26%20Familia%20Abogados!5e0!3m2!1ses!2scr!4v1698937386510!5m2!1ses!2scr">
                                            </iframe>
                                            </div>
                                            <div style="text-align: left; margin-top: 20px;">
                                                <h4>[[#{nosotros.redesTitulo}]]</h4>
                                                <div style="display: flex; justify-content: left;">
                                                    <a href="https://www.facebook.com/" target="_blank">
                                                        <img src="ruta-de-tu-imagen-facebook.jpg" alt="Facebook" style="width: 30px; height: 30px; margin: 0 10px;">
                                                    </a>
                                                    <a href="https://www.twitter.com/" target="_blank">
                                                        <img src="ruta-de-tu-imagen-twitter.jpg" alt="Twitter" style="width: 30px; height: 30px; margin: 0 10px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <img src="ruta-de-tu-imagen-instagram.jpg" alt="Instagram" style="width: 30px; height: 30px; margin: 0 10px;">
                                                    </a>
                                                    <!-- Añade otros enlaces y logotipos de redes sociales según sea necesario -->
                                                </div>
                                                <div style="text-align: left; margin-top: 20px;">
                                                    <h4>[[#{nosotros.nosotrosTitulo}]]</h4>
                                                    <p>[[#{nosotros.nosotrosDesc}]]
                                                        </aside>

                                                        <div style="flex: 1;">
                                                            <!-- Código para el rectángulo vertical a la derecha -->
                                                            <div style="background-color: #f2f2f2; border-radius: 5px; padding: 20px; margin: 140px 0 50px 10px;">
                                                                <h4>[[#{nosotros.formularioContactoTitulo}]]</h4>
                                                                <label for="nombre">[[#{nosotros.formularioContactoNombre}]]</label><br>
                                                                    <input type="text" id="nombre" name="nombre"><br><br>
                                                                                <label for="correo">[[#{nosotros.formularioContactoCorreo}]]</label><br>
                                                                                    <input type="text" id="correo" name="correo"><br><br>
                                                                                                <label for="asunto">[[#{nosotros.formularioContactoAsunto}]]</label><br>
                                                                                                    <input type="text" id="asunto" name="asunto"><br><br>
                                                                                                                <label for="asunto">[[#{nosotros.formularioContactoConsulta}]]</label><br>
                                                                                                                    <input type="text" id="consulta" name="consulta"><br><br>
                                                                                                                                <!-- Agrega más etiquetas y cajas de texto según sea necesario -->
                                                                                                                                </div>
                                                                                                                                <img src="https://anasovi.org/wp-content/uploads/2022/06/fondo-1.jpg" alt="Google" style="width: 400px; height: 200px; margin-top: 500px;">
                                                                                                                                    </div>
                                                                                                                                    </div>
                                                                                                                                    </section>

                                                                                                                                    <!-- Código para el bloque de logotipos de redes sociales debajo del mapa -->

                                                                                                                                    </div>

                                                                                                                                    </aside>


                                                                                                                                    </aside>

                                                                                                                                    </main>


                                                                                                                                    </body>
                                                                                                                                    </html>
