<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        
        <section style="background-color: #FFEFEF;" th:fragment="section">
            
            <div style="padding-top: 50px;">
                <figure style="text-align: center; margin: 0; border: none;">
                    <div style="display: inline-block;">
                        <iframe width="1540" height="570" src="https://www.youtube.com/embed/1OX7BcPeG_s"
                                title="[[#{principal.videoTitulo}]]" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen style="margin: 0 auto;">

                        </iframe>
                    </div>
                </figure>

            </div>
        </section>
        <main th:fragment="main" style="display: flex; background-color: #FFEFEF">


            <aside style="width: 70%; margin-left: 180px; ">
                <!-- Contenido del aside aquí -->
                <h3 style="margin: 20px 0">[[#{principal.quienessomos}]]</h3>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 10px 0;">
                    <h4>[[#{principal.misionTitulo}]]</h4>
                    <p>[[#{principal.misionDesc}]]</p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>[[#{principal.visionTitulo}]]</h4>
                    <p>[[#{principal.visionDesc}]]</p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>[[#{principal.objetivoTitulo}]]</h4>
                    <p>[[#{principal.objetivoDesc}]]</p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>[[#{principal.patologiasTitulo}]]</h4>
                    <p>[[#{principal.patologiasDesc}]]</p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>[[#{principal.serviciosTitulo}]]</h4>
                    <p>[[#{principal.serviciosDesc}]]</p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>[[#{principal.coberturaTitulo}]]</h4>
                    <p>[[#{principal.coberturaDesc}]]</p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>[[#{principal.serviciosClientesTitulo}]]</h4>
                    <p>[[#{principal.serviciosClientesDesc}]]</p>
                </div>
            </aside>
            <aside style="padding: 1em; width: 25%; margin-right: 180px;"  >
                <h3 style="margin: 20px 0"> [[#{principal.nuestrosServiciosImagenes}]] </h3>

                <figure>
                    <img src="https://lh3.googleusercontent.com/oTShy_HktAfVCj1Y8D8BCMs6v_Qd0LgHEujh7M8OIXGLilI-9lk2L9UzudAeBEurIKO7dRwyqhfpNL3I8LhcxuL5KrC8XSvA5VCQT7YYCW8-rPXjTbF5XjnpZtpA_nCjUEOsfveQ8_BOETA_ovtc2-QRviw8" width="356" height="200" alt="alt"/>
                </figure>
                <figure>
                    <img src="https://lh6.googleusercontent.com/hI3IAg1WKrk48zFHxienum5e7QfxQa5FvwCiCO15CGWqgZW2l71azZFXMfc_mGuIP_gtIBOZSns3DkRgckO9Hma3NekXaAE1SwdCwSd5gdHPKGRdH65iilrQJJo1jVz6F85ynmahCVztNQkupxMKK5phfSDY" width="356" height="200" alt="Imagen 2"/>
                </figure>


            </aside>
        </main>


    </body>
</html>
