<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Anasovi</title>

    </head>
    <body style="background-color: #FFEFEF;">

    <section th:fragment="informacion" style="display: flex; background-color: #FFEFEF">
        <aside style="width: 70%; margin-left: 180px; ">
            <!-- Contenido del aside aquí -->
            <h2 style="text-align: center; margin: 30px 0;">[[#{eventos.eventosTitulo}]]</h2>
            
            <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                <h4>[[#{eventos.proximosTitulo}]]</h4>
                
                <p>"¡Bienvenido a la página de eventos de ANASOVI! Aquí, te presentamos las próximas 
                    experiencias que organizamos con cariño. Mantente al tanto de nuestras actividades, 
                    únete a la diversión y descubre cómo puedes ser parte de eventos significativos con ANASOVI. 
                    ¡No te pierdas la oportunidad de vivir momentos especiales con nosotros!"</p>
            </div>

            <!-- Sección para imágenes -->
            <div th:fragment="imagenes" style="margin-top: 20px;">
                <h3></h3>
                <div style="display: flex; justify-content: space-between;">
                    <div style="width: 45%;">
                        <img src="ruta-de-tu-imagen-1.jpg" alt="Imagen 1" style="width: 100%;">
                    </div>
                    <div style="width: 45%;">
                        <img src="ruta-de-tu-imagen-2.jpg" alt="Imagen 2" style="width: 100%;">
                    </div>
                </div>
           

            
    </div>
    




        </aside>

    </section>

     <section th:fragment="agregarEvento">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/evento/guardar}" 
                          th:object="${evento}"                         
                          enctype="multipart/form-data">
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Añadir evento</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="titulo">titulo</label>
                                                    <input type="text" class="form-control" 
                                                           name="titulo" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">descripcion</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">Imagen</label>
                                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                                    <img id="blah" src="#" alt="your image" height="200"/>
                                                </div>
                                                <div class="container py-4 mb-4">
                                                    <div class="row">
                                                        <div class="col-md-4 d-grid mx-auto">
                                                            <a style="background-color: #993955;" th:href="@{/evento/paginaEvento}" class="btn btn-primary border-0">
                                                                <i class="fas fa-arrow-left"></i> Regresar
                                                            </a>
                                                        </div>

                                                        <div class="col-md-4 d-grid mx-auto">
                                                            <button th:href="@{/evento/paginaEvento}" style="background-color: #993955;" class="btn btn-primary border-0" type="submit">
                                                                <i class="fas fa-check"></i> Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section th:fragment="editarEvento">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/evento/guardar}" 
                          th:object="${evento}"                         
                          enctype="multipart/form-data">
                        <div id=details>
                            <input type="hidden" name="id_eventos" th:field="*{id_eventos}"/>
                            <input type="hidden" name="ruta_imagen" th:field="*{ruta_imagen}"/>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="titulo">titulo</label>
                                                    <input type="text" class="form-control" 
                                                           name="titulo" th:field="*{titulo}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">descripcion</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">Imagen</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${evento.ruta_imagen}}" alt="your image" height="200"/>
                                                </div>
                                                <div class="container py-4 mb-4">
                                                    <div class="row">
                                                        <div class="col-md-4 d-grid mx-auto">
                                                            <a style="background-color: #993955;" th:href="@{/evento/paginaEvento}" class="btn btn-primary border-0">
                                                                <i class="fas fa-arrow-left"></i> Regresar
                                                            </a>
                                                        </div>

                                                        <div class="col-md-4 d-grid mx-auto">
                                                            <button style="background-color: #993955;" class="btn btn-primary border-0" type="submit">
                                                                <i class="fas fa-check"></i> Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad arbol -->
        <section  th:fragment="listadoEventos" id="eventos">
            <div style="background-color: #FFEFEF;">
                <h2 class="text-center">Lista de personas donadores</h2>

                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-center">Listado</h4>
                                <a th:href="@{/evento/nuevo}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                                    <i>Agregar donador</i>
                                </a>
                            </div>
                            <div th:if="${eventos != null and !eventos.empty}">
                                <table class="table">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="text-center" scope="col">#</th>
                                            <th class="text-center" scope="col">descripcion</th>
                                            <th class="text-center" scope="col">Acciones</th> <!-- Nueva columna para el botón -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="evento, contador : ${eventos}">
                                            <td class="text-center" th:text="${contador.count}"></td>
                                            <td class="text-center" th:text="${evento.descripcion}"></td>
                                            <td class="text-center">
                                                <a th:href="@{/evento/eliminar/}+${evento.id_eventos}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                                                    <i>Eliminar</i>
                                                </a>
                                                <a th:href="@{/evento/modificar/}+${evento.id_eventos}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                                                    <i>Modificar</i>
                                                </a>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${eventos == null or eventos.empty}">
                                <span>lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="listadoEventosCards" style="background-color: #FFEFEF; padding: 4em;">
            <div style="padding: 1em; margin-left: 30px" >
                <a th:href="@{/evento/nuevo}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                    <i>Agregar evento</i>
                </a> 
            </div>
            <div class="row row-cols-4">    

                <div class="card p-4" th:each="evento : ${eventos}">
                    <figure>
                        <img th:src="${evento.ruta_imagen}" class="card-img-top" height="200" alt="..."/>  
                    </figure>
                    <div class="card-header">

                        [[${evento.titulo}]]
                    </div>
                    <div class="card-body">   
                        [[${evento.descripcion}]]
                    </div>
                    <div class="card-body">
                        <a th:href="@{/evento/eliminar/}+${evento.id_eventos}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                            <i>Eliminar</i>
                        </a>
                        <a th:href="@{/evento/modificar/}+${evento.id_eventos}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                            <i>Modificar</i>
                        </a>

                    </div>
                </div>                   
            </div>        
        </section>

    </body>
</html>