<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Anasovi</title>

    </head>
    <body style="background-color: #FFEFEF;">
        <section th:fragment="informacion" style="display: flex; background-color: #FFEFEF">
            <aside style="width: 70%; margin-left: 180px; ">
                <!-- Contenido del aside aquí -->
                <h2 style="text-align: center; margin: 30px 0;">[[#{noticias.noticiasTitulo}]]</h2>

                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>[[#{noticias.noticiasTitulo}]]</h4>

                    <p>[[#{noticias.proximosNoticias}]]</p>
                </div>
            </aside>

        </section>


        <section th:fragment="agregarNoticia" style="padding: 40px; background-color: #FFEFEF">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/noticia/guardar}" 
                          th:object="${noticia}"                         
                          enctype="multipart/form-data">
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header" style="background-color: #993955; color: white">
                                                <h4>[[#{noticia.añadirNoticia}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">[[#{noticia.añadirNoticiaNombre}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{noticia.añadirNoticiaDesc}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{noticia.añadirNoticiaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                                    <img id="blah" src="#" alt="your image" height="200"/>
                                                </div>
                                                <div class="container py-4 mb-4">
                                                    <div class="row">
                                                        <div class="col-md-4 d-grid mx-auto">
                                                            <a style="background-color: #993955;" th:href="@{/noticia/paginaNoticia}" class="btn btn-primary border-0">
                                                                <i class="fas fa-arrow-left"></i> [[#{noticia.añadirNoticiaBtnRegresar}]]
                                                            </a>
                                                        </div>

                                                        <div class="col-md-4 d-grid mx-auto">
                                                            <button th:href="@{/noticia/paginaNoticia}" style="background-color: #993955;" class="btn btn-primary border-0" type="submit">
                                                                <i class="fas fa-check"></i> [[#{noticia.añadirNoticiaBtnGuardar}]]
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section th:fragment="editarNoticia" style="padding: 40px; background-color: #FFEFEF">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/noticia/guardar}" 
                          th:object="${noticia}"                         
                          enctype="multipart/form-data">
                        <div id=details>
                            <input type="hidden" name="id_noticia" th:field="*{id_noticia}"/>
                            <input type="hidden" name="ruta_imagen" th:field="*{ruta_imagen}"/>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header" style="background-color: #993955; color: white">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">descripcion</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">Imagen</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${noticia.ruta_imagen}}" alt="your image" height="200"/>
                                                </div>
                                                <div class="container py-4 mb-4">
                                                    <div class="row">
                                                        <div class="col-md-4 d-grid mx-auto">
                                                            <a style="background-color: #993955;" th:href="@{/noticia/paginaNoticia}" class="btn btn-primary border-0">
                                                                <i class="fas fa-arrow-left"></i> Regresar
                                                            </a>
                                                        </div>

                                                        <div class="col-md-4 d-grid mx-auto">
                                                            <button style="background-color: #993955;" class="btn btn-primary border-0" type="submit">
                                                                <i class="fas fa-check"></i> Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>



        <section th:fragment="listadoNoticiasCards" style="background-color: #FFEFEF; padding: 4em;">
            <div style="padding: 1em; margin-left: 30px" >
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/noticia/nuevo}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                    <i>[[#{noticia.añadirNoticia}]]</i>
                </a> 
            </div>
            <div class="row row-cols-4">    

                <div class="card p-4" th:each="noticia : ${noticias}">
                    <figure>
                        <img th:src="${noticia.ruta_imagen}" class="card-img-top" height="200" alt="..."/>  
                    </figure>
                    <div class="card-header">

                        [[${noticia.nombre}]]
                    </div>
                    <div class="card-body">   
                        [[${noticia.descripcion}]]
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="card-body">
                        <a th:href="@{/noticia/eliminar/}+${noticia.id_noticia}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                            <i>Eliminar</i>
                        </a>
                        <a th:href="@{/noticia/modificar/}+${noticia.id_noticia}" class="btn btn-primary border-0" type="button" style="background-color: #993955;">
                            <i>Modificar</i>
                        </a>

                    </div>
                </div>                   
            </div>        
        </section>

    </body>
</html>